<% title "sign up for an account" %>
<div id="signup_page">

    <% form_for @user do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :username, "Squadron Number" %><br />
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :email, "Email Address" %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation, "Confirm Password" %><br />
        <%= f.password_field :password_confirmation %>
      </p>
      <p>
        <%= f.label :amount_per_month, "Subscriptions amount per Month" %><br />
        <%= f.text_field :amount_per_month %>
      </p>
      <p><%= f.submit "Sign up", :class => "submit" %></p>
    <% end %>

    <%= link_to "Cancel", login_path, :class => "close" %>
</div>
