<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Inspectr<%=h " - " << yield(:title) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://jqueryui.com/latest/themes/base/ui.all.css' %>
    
    <%= javascript_include_tag "jquery-1.3.1.min" %>
    <%= javascript_include_tag "jquery.livequery" %>
    <%= javascript_include_tag "jquery.blockui" %>
    <%= javascript_include_tag "jquery.tablesorter.min" %>
    <%= javascript_include_tag "jquery.curvycorners.min" %>
    <%= javascript_include_tag "http://jqueryui.com/latest/ui/ui.core.js" %>
    <%= javascript_include_tag "http://jqueryui.com/latest/ui/ui.tabs.js" %>
    
    
    <%= javascript_include_tag "application" %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      
      <%- if show_title? -%>
        <h1>Inspect<span>r</span></h1>
        <h2><%=h yield(:title) %></h2>
      <%- end -%>
      
      <%- if logged_in? %>
      <ul id="admin_links">
        <li><a href="/logout/">Logout</a></li>
        <li><%= link_to "New Cadet", new_cadet_path, :class => "popup" %></li>
        <li> <%= current_user.username %> Sqn</li>
      </ul>
      <%- end %>
      
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
        
      <%= yield %>
    </div>
    
    <div id="modal_window">
        <div id="inner_content">
        <!-- window for popups -->
        </div>
    </div>
    
  </body>
</html>
